/* GENERAL */

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  width: 100%;
  display: none;
}

.es.active {
  display: block;
}

.en.active {
  display: block;
}

h1 {
  font-size: 3em;
  font-weight: 800;
}

h3 {
  font-size: 1.6em;
  font-weight: 500;
}

h5 {
  font-size: 1em;
  font-weight: 300;
}

p {
  font-size: 1.1em;
  font-weight: 300;
  text-align: justify;
}

/* ANIMATIONS */

.button-wiggle {
  animation: wiggle 4s 2s infinite;
}

@keyframes wiggle {
  5%,
  50% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  15% {
    transform: scale(1.15);
  }
  20% {
    transform: scale(1.15) rotate(-5deg);
  }
  25% {
    transform: scale(1.15) rotate(5deg);
  }
  30% {
    transform: scale(1.15) rotate(-3deg);
  }
  35% {
    transform: scale(1.15) rotate(2deg);
  }
  40% {
    transform: scale(1.15) rotate(0);
  }
}

.button-pulse {
  animation: pulse 2s infinite 3s cubic-bezier(0.25, 0, 0, 1);
  box-shadow: 0 0 0 0 white;
}

@keyframes pulse {
  to {
    box-shadow: 0 0 0 18px rgba(255, 255, 255, 0);
  }
}

.button-float {
  animation: float 1.5s linear alternate infinite;
}

@keyframes float {
  50% {
    transform: translateY(-px);
  }
  100% {
    transform: translateY(-18px);
  }
}

/* NAV */

.nav-container-es,
.nav-container-en {
  width: 98%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 10px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.navbar {
  display: grid;
  grid-template-columns: 0.2fr auto 1fr;
  align-items: center;
  height: 75px;
  width: 100%;
  max-width: 1720px;
  margin: 0 auto;
  margin-top: 10px;
}

.nav-logo {
  width: 100%;
  justify-self: start;
  margin-left: 50px;
  cursor: pointer;
}

.nav-menu-es,
.nav-menu-en {
  display: grid;
  margin-top: -9px;
  grid-template-columns: repeat(5, auto);
  list-style: none;
  text-align: center;
  width: 70%;
  justify-self: end;
}

.nav-menu-es li,
.nav-menu-en li {
  width: 95%;
}

.nav-link {
  color: #142648;
  text-decoration: none;
  padding: 8px 20px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease-in-out;
}

.nav-link:hover {
  background-color: #51d7dd;
  color: #142648;
}

.btn-nav-link {
  color: #142648;
  background-color: #51d7dd;
  padding: 8px 20px;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.btn-nav-link:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: #142648;
}

.btn-language {
  padding: 8px 10px;
}

.btn-language:hover {
  cursor: pointer;
}

.menu-toggle {
  cursor: pointer;
}

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #ffffff;
}

/* HOME */

.home-section {
  width: 100%;
  height: 850px;
  clip-path: polygon(0% 0%, 100% 0, 100% 90%, 0 100%, 0% 100%);
}

.home-container-background {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0 50px;
  background-image: url(../img/background-home.png);
  background-size: cover;
  background-position: center;
  align-items: center;
  justify-content: center;
}

.home-info-container {
  display: flex;
  flex-direction: row;
  margin: 150px 10em 130px;
}

.home-text-container {
  width: 60%;
  color: #ffffff;
}

.home-img-container {
  width: 40%;
}

.home-img-container img {
  width: 100%;
}

/* SERVICES */

.service-section {
  margin-top: -160px;
  padding: 150px 70px 140px;
  text-align: center;
  color: #142648;
  clip-path: polygon(0 18.5%, 100% 2.48%, 100% 85%, 0 100%);
}

.service-section h1 {
  font-size: 3.3em;
}

.block-service-container {
  width: 100%;
  margin: 25px auto 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.block-service {
  max-width: 24.5%;
  padding: 20px;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.3s ease-in-out;
}

.block-service:hover {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.block-service h3 {
  font-size: 1.8em;
}

.block-service img {
  width: 90%;
}

/* SOLUTIONS */

.solution-section {
  width: 100%;
  display: flex;
  margin-top: -160px;
  padding: 80px 70px 140px;
  text-align: center;
  color: #142648;
  background-color: #d6e6ff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  clip-path: polygon(0 7%, 100% 0, 100% 95%, 0 100%);
}

.solution-section h1 {
  font-size: 3.3em;
}

.solution-container {
  width: 95%;
  height: auto;
  margin: 30px auto 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}

.solution-box {
  width: 45%;
  margin: 10px;
  padding: 20px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.solution-box:hover {
  background: #ffffff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.solution-box i {
  transition: all 0.3s ease-in-out;
}

.solution-box:hover i {
  background: #ccefff;
  color: #4a6ca2;
  border-radius: 100px;
}

.solution-icon {
  margin: 5px;
}

.solution-icon i {
  width: 70px;
  height: 70px;
  background: #4a6ca2;
  color: #ffffff;
  line-height: 70px;
  text-align: center;
  font-size: 2.5em;
}

.solution-content {
  text-align: left;
  padding-left: 15px;
}

.solution-content h3 {
  font-size: 1.3em;
  font-weight: 500;
}

.solution-content p {
  font-size: 1em;
  font-weight: 300;
}

/* GALLERY */

.gallery-section {
  width: 100%;
  margin-top: -85px;
  padding: 65px 70px 140px;
  text-align: center;
  color: #ffffff;
  background-color: #4a6ca2;
  clip-path: polygon(0 9%, 100% 0, 100% 90%, 0 100%);
}

.gallery-section h1 {
  font-size: 3.3em;
}

.gallery-container {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.gallery_container-all {
  width: 95%;
  margin: 20px auto;
  height: auto;
  margin-bottom: 40px;
}

.gallery_container {
  width: calc(25% - 10px);
  overflow: hidden;
  height: fit-content;
  margin: 3px;
  padding: 0;
  display: inline-block;
  position: relative;
  float: none;
  border-radius: 5px;
  background-color: black;
}

img {
  width: 100%;
  transition-duration: 0.3s;
  max-width: 100%;
  display: block;
  overflow: hidden;
  cursor: pointer;
}

.gallery_title {
  position: absolute;
  display: block;
  cursor: pointer;
  top: 30%;
  display: none;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 1.6em;
  transition-duration: 0.3s;
}

.gallery_text {
  position: absolute;
  top: 55%;
  cursor: pointer;
  max-width: 80%;
  text-align: center;
  left: 50%;
  font-size: 1em;
  display: none;
  margin-right: -50%;
  transition-duration: 0.3s;
  transform: translate(-50%, -50%);
}

.gallery_btn {
  position: absolute;
  top: 75%;
  cursor: pointer;
  max-width: 80%;
  text-align: center;
  left: 50%;
  font-size: 1em;
  display: none;
  margin-right: -50%;
  transition-duration: 0.3s;
  transform: translate(-50%, -50%);
}

.gallery_btn a {
  text-decoration: none;
  color: #142648;
  padding: 8px 20px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease-in-out;
}

.gallery_btn a:hover {
  background-color: #51d7dd;
  color: #142648;
}

.gallery_container:hover img {
  transform: scale(1.2);
  transition-duration: 0.3s;
  opacity: 0.5;
}

.gallery_container:hover span {
  color: white;
  display: block;
  transition-duration: 0.3s;
}

/* .gallery-container {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
} */

/* .posts-container iframe {
  width: 100%;
  border: none;
  overflow: hidden;
} */

/* .viewer-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-viewer {
  width: 100%;
  height: 40vw;
  background-image: url(../img/1.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.control {
  width: 43%;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.control .prev {
  display: flex;
  width: 50px;
  height: 100px;
  border-radius: 50px;
  font-size: 2em;
  margin: 5px;
  padding: 2px;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  color: #000000;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.control .prev:hover {
  background-color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

.control .next {
  display: flex;
  width: 50px;
  height: 100px;
  border-radius: 50px;
  font-size: 2em;
  margin: 5px;
  padding: 2px;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  color: #000000;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.control .next:hover {
  background-color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

.photo-container {
  width: 40%;
  max-width: 45%;
  margin: 0 auto;
  max-height: 40vw;
  padding: 0 50px;
  box-sizing: border-box;
  columns: 3;
  column-count: 3;
  column-gap: 20px;
}

.photo-item {
  break-inside: avoid;
  page-break-inside: avoid;
}

.photo-item:hover {
  cursor: pointer;
}

.photo-img {
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
  filter: grayscale(100%);
  transition: all 0.3s ease-in-out;
}

.photo-img.active {
  border: 5px solid #51d7dd;
  filter: none;
}

.photo-img:hover {
  filter: none;
} */

/* CONTACT */

.contact-section {
  display: flex;
  height: 35vw;
  margin-top: -85px;
  background-image: url(../img/background-contact.png);
  background-size: cover;
  background-position: center;
  text-align: center;
  align-items: center;
  justify-content: center;
  clip-path: polygon(0 13%, 100% 0%, 100% 87%, 0 100%);
}

.contact-form-container {
  color: #142648;
  position: absolute;
  display: flex;
  width: 100%;
  margin-top: -17.5vw;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.form-container {
  position: absolute;
  width: 45%;
  border-radius: 50%;
  background-color: #ccefff;
  z-index: 3;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.01), 0 4px 4px rgba(0, 0, 0, 0.02),
    0 8px 8px rgba(0, 0, 0, 0.03), 0 18px 18px rgba(0, 0, 0, 0.04),
    0 28px 28px rgba(0, 0, 0, 0.05), 0 38px 38px rgba(0, 0, 0, 0.06);
}

.form-container h1 {
  font-size: 3.3em;
  margin-top: 6vw;
}

.location-button {
  width: 55%;
  height: 50px;
  margin-bottom: 10px;
  background-color: #142648;
  border: 1px solid #142648;
  border-radius: 50px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1em;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}

.location-button:hover {
  background-color: #ffffff;
  color: #142648;
  cursor: pointer;
  border: 1px solid #142648;
}

.contact-form input {
  width: 55%;
  font-family: "Poppins", sans-serif;
  padding: 10px 20px;
  margin: 10px auto;
  border: 1px solid #142648;
  color: #142648;
  transition: all 0.3s ease-in-out;
}

.contact-form textarea {
  width: 55%;
  max-width: 55%;
  min-width: 55%;
  max-height: 150px;
  font-family: "Poppins", sans-serif;
  padding: 10px 20px;
  margin: 10px auto;
  border: 1px solid #142648;
  color: #142648;
  transition: all 0.3s ease-in-out;
}

.contact-form button {
  width: 55%;
  height: 50px;
  margin-bottom: 7vw;
  background-color: #5b6f96;
  border: 1px solid #5b6f96;
  border-radius: 50px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1em;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}

.contact-form button:hover {
  background-color: #ffffff;
  color: #5b6f96;
  cursor: pointer;
  border: 1px solid #5b6f96;
}

#successES,
#successEN,
#errorES,
#errorEN {
  display: none;
  width: 50%;
  padding: 10px;
  margin: 0 auto 10px;
}

#successES,
#successEN {
  background-color: #43d566;
}

#errorES,
#errorEN {
  background-color: #f83648;
  color: #ffffff;
}

/* FOOTER */

.footer-section {
  display: flex;
  width: 100%;
  margin-top: -85px;
  padding-top: 150px;
  height: 500px;
  color: #142648;
  background-image: url(../img/background-home-inverted.png);
  background-size: cover;
  background-position: center;
  text-align: center;
  align-items: center;
  justify-content: center;
  clip-path: polygon(0 17%, 100% 0, 100% 100%, 0 100%);
}

.footer-data-container {
  display: flex;
  width: 90%;
  flex-direction: row;
  justify-content: center;
}

.footer-info-container {
  display: flex;
  width: 40%;
  flex-direction: row;
  justify-content: space-between;
  border-left: 3px solid #ffffff;
  padding: 50px 0 50px 100px;
}

.footer-logo-container {
  width: 40%;
  border-right: 2px solid #ffffff;
  padding: 50px 100px 50px 0;
}

.footer-logo-container img {
  width: 100%;
  margin-top: 30px;
}

.footer-social-container {
  width: 50%;
  color: #ffffff;
  text-align: center;
}

.footer-social-container h3 {
  border-bottom: 1px solid #ffffff;
}

.footer-social-container p {
  margin-top: 5px;
  text-align: center;
}

.footer-pp-container {
  width: 40%;
}

.footer-pp-container img {
  width: 100%;
  border-radius: 50%;
  border: 10px solid #51d7dd;
}

.button-social-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.button-social-container button {
  width: 60px;
  height: 60px;
  margin: 10px;
  font-size: 2em;
  border: none;
  border-radius: 50px;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}

.button-social-container button:hover {
  filter: brightness(120%);
  cursor: pointer;
}

.button-fb {
  background-color: #2e73f0;
}

.button-ig {
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}

.button-wpp {
  background-color: #43d566;
}

.button-tg {
  background-color: #3696d3;
  padding: 2px 0 0 2px;
}

.footer {
  display: flex;
  width: 100%;
  height: 30px;
  font-size: 1.3em;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #142648;
  color: #ffffff;
}

.footer h6 {
  font-weight: 500;
}

.footer a {
  text-decoration: none;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}

.footer a:hover {
  color: #51d7dd;
}

/* RESPONSIVE */

@media screen and (max-width: 1530) {
  /* FOOTER */
  .footer-data-container {
    width: 100%;
  }
}

@media screen and (max-width: 1330px) {
  /* CONTACT */
  .contact-section {
    height: 40vw;
  }
  .contact-form-container {
    margin-top: -20vw;
  }
  .form-container {
    width: 50%;
  }
  /* FOOTER */
  .footer-pp-container {
    width: 50%;
    margin-left: 50px;
  }
}

@media screen and (max-width: 1280px) {
  /* HOME */
  .home-info-container {
    margin: 180px 5em 130px;
  }
  /* FOOTER */
  .footer-info-container {
    width: 50%;
  }
}

@media screen and (max-width: 1200px) {
  /* NAV */
  .nav-menu-es,
  .nav-menu-en {
    width: 90%;
  }
}

@media screen and (max-width: 1100px) {
  /* HOME */
  .home-info-container {
    margin: 180px 2em 100px;
  }
  /* GALLERY */
  /* .viewer-container {
    width: 100%;
  }
  .image-viewer {
    height: 60vw;
  }
  .control {
    width: 80%;
  }
  .photo-container {
    display: none;
  } */
}

@media screen and (max-width: 1000px) {
  /* CONTACT */
  .form-container h1 {
    font-size: 2.5em;
  }
}

@media screen and (max-width: 995px) {
  /* NAV */
  .nav-menu-es,
  .nav-menu-en {
    width: 90% !important;
  }
  .nav-menu-es li,
  .nav-menu-en li {
    width: 95%;
    font-size: 14px;
  }
  /* HOME */
  .home-info-container {
    justify-items: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 130px 0em 100px;
  }
  .home-text-container {
    width: 100%;
    margin-top: 80px;
  }
  .home-img-container {
    width: 50%;
    margin-top: 40px;
    margin-bottom: 100px;
  }
  /* SERVICE */
  .service-section {
    padding: 150px 30px 140px;
    clip-path: polygon(0 5%, 100% 0, 100% 95%, 0 100%);
  }
  .block-service-container {
    flex-direction: column;
  }
  .block-service {
    max-width: 100%;
    margin-bottom: 20px;
  }
  /* SOLUTION */
  .solution-section {
    padding-left: 30px;
    padding-right: 30px;
  }
  .solution-container {
    margin: 0 auto -30px;
  }
  .solution-box {
    width: 100%;
  }
  /* CONTACT */
  .contact-section {
    height: 60vw;
  }
  .contact-form-container {
    margin-top: -30vw;
  }
  .form-container {
    width: 70%;
  }
  /* FOOTER */
  .footer-section {
    height: auto;
  }
  .footer-data-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-logo-container {
    border: none;
    width: 100%;
    padding: 0;
  }
  .footer-logo-container img {
    width: 70%;
    margin: 0 auto 15px;
  }
  .footer-info-container {
    border: none;
    width: 100%;
    padding: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    margin-bottom: 30px;
  }
  .footer-social-container {
    width: 90%;
  }
  .footer-social-container h3 {
    font-size: 1.7em;
  }
  .footer-social-container p {
    font-size: 1.2em;
  }
  .footer-pp-container {
    margin: 0 auto;
    width: 30%;
  }
}

@media screen and (max-width: 960px) {
  /* NAV */
  .nav-logo {
    width: 100%;
    margin-left: 20px;
  }
  .nav-link {
    padding: 4px 10px;
  }
}

@media screen and (max-width: 800px) {
  /* GALLERY */
  .gallery-section {
    clip-path: polygon(0 3%, 100% 0, 100% 100%, 0 100%);
  }
  .gallery_container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 767px) {
  /* NAV */
  .nav-container-es,
  .nav-container-en {
    background-color: rgba(0, 0, 0, 0.5);
    color: #000000;
  }
  .nav-container-es.active,
  .nav-container-en.active {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .navbar {
    width: 100%;
  }
  .nav-menu-es,
  .nav-menu-en {
    width: 100% !important;
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    position: absolute;
    width: 100%;
    top: 85px;
    right: -100%;
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }
  .nav-logo {
    width: 150%;
    margin-left: 30px;
    max-width: 210%;
  }
  .nav-menu-es.active,
  .nav-menu-en.active {
    right: 0;
    opacity: 1;
    transition: all 0.3s ease-in-out;
    border: none;
  }
  .nav-link {
    text-align: center;
    line-height: 60px;
    width: 105.2%;
    display: table;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0;
  }
  .nav-link:hover {
    background-color: rgba(20, 38, 32, 0.5);
    color: #ffffff;
  }
  .btn-nav-link {
    border: none;
    padding: 0;
    border-radius: 0;
    background: transparent;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .btn-nav-link:hover {
    background-color: rgba(20, 38, 32, 0.5);
    padding: 0 0;
    border-radius: none;
    border: none;
  }
  .btn-language {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  #mobile-menu-es,
  #mobile-menu-en {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }
  .menu-toggle {
    margin-top: 7px;
  }
  .menu-toggle .bar {
    display: block;
  }
  #mobile-menu-es.is-active .bar:nth-child(2),
  #mobile-menu-en.is-active .bar:nth-child(2) {
    opacity: 0;
  }
  #mobile-menu-es.is-active .bar:nth-child(1),
  #mobile-menu-en.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  #mobile-menu-es.is-active .bar:nth-child(3),
  #mobile-menu-en.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  /* HOME */
  .home-img-container {
    width: 70%;
  }
  /* SOLUTION */
  .solution-section {
    padding-left: 15px;
    padding-right: 15px;
  }
  .solution-container {
    width: 100%;
  }
  /* GALLERY */
  .gallery-section {
    padding-left: 30px;
    padding-right: 30px;
  }
  /* .image-viewer {
    height: 70vw;
  }
  .control {
    width: 85%;
  } */
  /* CONTACT */
  .contact-section {
    height: 70vw;
  }
  .contact-form-container {
    margin-top: -35vw;
  }
  .form-container {
    width: 90%;
  }
}

@media screen and (max-width: 550px) {
  /* NAV */
  .nav-link-cb {
    height: auto;
  }
  .nav-logo {
    width: 210%;
  }
  /* HOME */
  .home-img-container {
    margin-top: 30px;
  }
  /* CONTACT */
  .contact-section {
    height: 90vw;
  }
  .contact-form-container {
    margin-top: -45vw;
  }
  .form-container {
    width: 100%;
  }
  .contact-form button {
    margin-bottom: 14vw;
  }
}

@media screen and (max-width: 450px) {
  /* HOME */
  .home-section {
    margin-bottom: 20px;
    clip-path: polygon(0% 0%, 100% 0, 100% 95%, 0 100%, 0% 100%);
  }
  /* SERVICES */
  .service-section {
    clip-path: polygon(0 1%, 100% 0%, 100% 100%, 0 100%);
  }
  /* SOLUTION */
  .solution-section {
    clip-path: polygon(0 2%, 100% 0, 100% 97%, 0 100%);
  }
  /* GALLERY */
  .gallery-section {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 80px;
    clip-path: polygon(0 3%, 100% 0, 100% 100%, 0 100%);
  }
  /* .image-viewer {
    height: 120vw;
  } */
  /* CONTACT */
  .contact-section {
    height: 110vw;
    margin: 10px auto 100px;
  }
  .form-container {
    margin-top: -80px;
    margin-bottom: 50px;
    border-radius: 0;
  }
  .form-container h1 {
    margin-top: 10vw;
    font-size: 2.3em;
  }
  .contact-form-container {
    margin-top: -70vw;
    margin-bottom: 0vw;
  }
  .contact-form input,
  .contact-form textarea {
    width: 80%;
    max-width: 80%;
    min-width: 80%;
  }
  .contact-form button {
    width: 80%;
  }
  /* FOOTER */
  .footer-section {
    padding-top: 80px;
    margin-top: -40vw;
    clip-path: polygon(0 0%, 100% 0, 100% 100%, 0 100%);
  }
  .footer-data-container {
    margin-top: 30px;
  }
}

@media screen and (min-width: 1500px) {
  /* GENERAL */
  h1 {
    font-size: 5em;
  }
  h3 {
    font-size: 2.2em;
  }
  h5 {
    font-size: 1.5em;
  }
  /* HOME */
  .home-text-container {
    margin-top: 100px;
  }
  .home-img-container {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1500px) {
  /* HOME */
  .home-text-container {
    margin-top: 50px;
  }
}
